@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

body.sidebar-open {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#backdrop {
    transition: opacity 0.4s ease-in-out;
}

#backdrop:not(.hidden) {
    opacity: 0.5;
}

#sidebar {
    transition: transform 0.4s ease-in-out;
    z-index: 30;
}

.accordion-toggle {
    display: none;
    transition: transform 0.4s ease;
}

.accordion-title {
    cursor: pointer;
    user-select: none;
}

.accordion-content {
    display: none;
}

.accordion-toggle:checked + .accordion-title + .accordion-content {
    display: flex;
}

.accordion-toggle:checked + .accordion-title .rotate-icon {
    transition: transform 0.5s ease;
    transform: rotate(180deg);
}

.accordion-toggle + .accordion-title .rotate-icon {
    transition: transform 0.5s ease;
    transform: rotate(0deg);
}

.carousel {
    overflow: hidden;
    position: relative;
    z-index: -1;
    pointer-events: none;
}

.carousel-inner {
    position: inherit;
    display: flex;
    transition: transform 0.5s ease;
    pointer-events: auto;
}

.carousel-item {
    flex: 0 0 100%;
    width: 100%;
    pointer-events: auto;
}

.carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    pointer-events: auto;
}

.carousel-nav button {
    background-color: rgba(107, 107, 107, 0.3);
    border-radius: 50%;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    pointer-events: auto;
}

.carousel-dots {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    pointer-events: auto;
}

.carousel-dot {
    width: 10px;
    height: 10px;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    pointer-events: auto;
}

.carousel-dot.active {
    background-color: #75c59d;
    pointer-events: auto;
    scale: 1.5;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scroll-item {
    flex: 1 1 auto;
    width: 200px;
    min-width: 200px;
    margin-right: 10px;
    scroll-snap-align: start;
    background-color: #ddd;
    padding: 20px;
    border-radius: 8px;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}
