@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body.sidebar-open {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    overflow: hidden;
}

#backdrop {
    transition: opacity 0.4s ease-in-out;
}

#backdrop:not(.hidden) {
    opacity: 0.5;
}

#sidebar {
    transition: transform 0.4s ease-in-out;
    z-index: 30;
}

.accordion-toggle {
    display: none;
    transition: transform 0.4s ease;
}

.accordion-title {
    cursor: pointer;
    user-select: none;
}

.accordion-content {
    display: none;
}

.accordion-toggle:checked + .accordion-title + .accordion-content {
    display: flex;
}

.accordion-toggle:checked + .accordion-title .rotate-icon {
    transition: transform 0.5s ease;
    transform: rotate(180deg);
}

.accordion-toggle + .accordion-title .rotate-icon {
    transition: transform 0.5s ease;
    transform: rotate(0deg);
}

.carousel {
    overflow: hidden;
    position: relative;
    z-index: -1;
    pointer-events: none;
}

.carousel-inner {
    position: inherit;
    display: flex;
    transition: transform 0.5s ease;
    pointer-events: auto;
}

.carousel-item {
    flex: 0 0 100%;
    width: 100%;
    pointer-events: auto;
}

.carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    pointer-events: auto;
}

.carousel-nav button {
    background-color: rgba(107, 107, 107, 0.3);
    border-radius: 50%;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    pointer-events: auto;
}

.carousel-dots {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    pointer-events: auto;
}

.carousel-dot {
    width: 10px;
    height: 10px;
    background-color: #d9d9d9;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    pointer-events: auto;
}

.carousel-dot.active {
    background-color: #75c59d;
    pointer-events: auto;
    scale: 1.5;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scroll-item {
    flex: 1 1 auto;
    width: 300px;
    min-width: 300px;
    margin-right: 10px;
    scroll-snap-align: start;
}

.scroll-container::-webkit-scrollbar {
    display: none;
}

.swal2-title {
    font-size: 24px !important;
    font-family: 'Poppins';
}

.typewriter p {
    overflow: hidden;
    margin: 0 auto;
}

.typewriter p::after {
    content: '|';
    display: inline-block;
    width: 0;
    animation: blink 1s step-end infinite;
    color: #75c59d;
}

@keyframes blink {
    from,
    to {
        border-color: transparent;
    }
    50% {
    }
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.typewriter p.finished::after {
    content: '';
}

.fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}

.fade-in-delay {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.slide-right,
.slide-left {
    width: 100%;
}

.slide-right {
    animation: 3s slide-right;
}

@keyframes slide-right {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.slide-left {
    animation: 3s slide-left;
}

@keyframes slide-left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.text-hijau {
    --tw-text-opacity: 1;
    color: rgb(117 197 157 / var(--tw-text-opacity));
}
